{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<a href="{{ path('add_employe') }}">Ajouter un employé</a>
<h1> Liste des employés </h1>
    {%for employe in employes %}
        <a href="{{ path('show_employe', {'id':employe.id}) }}">{{ employe }} </a>
        <a href="{{ path('edit_employe', {'id':employe.id}) }}">Edit</a><br>
        <a href="{{ path('delete_employe', {'id':employe.id}) }}">Delete</a><br>
    {% endfor %}
{% endblock %}
